<div class="panel panel-default" align=center>
        <input type="hidden" name="post_id" value="{post_id}"></input>
                        <div class="panel panel-default">
                            <div class="panel-heading clearfix">
                                <h4 class="panel-title pull-left" style="padding-top: 7.5px;">{project}</h4>
                                {status}
                            </div>
                            <div class="panel-body">{activity}</div>
                            <div class="panel-footing" align=left>{user}
                                <div class="btn-group pull-right">
                                    {date}
                                </div>
                            </div>
                        </div>
                    </div>