<form method="get" action="send_post">
  <div class="form-group" align="Left">
    <input type="hidden" name="user_id" value="{user_id}"></input>
    <input type="hidden" name="date" value="{date}"></input>
    <label for="title">Title:</label>
    <input class="form-control" align=left type="text" id="title" name="title" autocomplete="off"></input>
    <br>
    <label for="comment">Message:</label>
    <textarea class="form-control" rows="3" id="comment" name="text" autocomplete="off"></textarea>
    <button type="submit" class="btn btn-primary btn-block">
      <i class="material-icons">done</i> Post
    </button>
    <hr>
  </div>
</form>
